<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Query Results</title>
</head>
<body>
    <div>
        <p>Here are the results you requested: <br />
        </p>
            {{ results | safe }}
    </div>
</body>
</html>